<mat-form-field class="full-width" appearance="fill">
  <mat-label>Filter by tag</mat-label>
  <input
    type="text"
    placeholder="Enter tag name"
    aria-label="Tag search"
    matInput
    [formControl]="autocompleteInput"
    [matAutocomplete]="auto"
  />
  <!-- TODO: Show full tag path -->
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
    <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag.name">
      {{ tag.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{ node.name }}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    {{ node.name }}
  </mat-tree-node>
</mat-tree>
