<div class="fx-row wrapper border-top">
  <div class="nav-item" routerLink="/tree-view">
    <mat-icon aria-hidden="false" aria-label="Tree view">
      account_tree
    </mat-icon>
  </div>
  <div class="nav-item" routerLink="/quick-drop">
    <mat-icon aria-hidden="false" aria-label="Quick drop">
      add_circle_outline
    </mat-icon>
  </div>
  <div class="nav-item" routerLink="/favorties">
    <mat-icon aria-hidden="false" aria-label="Favorites">
      favorite_border
    </mat-icon>
  </div>
</div>
